### Recap on Data Structures

Vector

In [7]:
vec_num = c(1,2,3,5,6,7)
class(vec_num)

[1] "numeric"

In [8]:
vec_char = c('1','2','3')
class(vec_char)

[1] "character"

In [9]:
vec_char = c('1','2',3)
class(vec_char)

[1] "character"

In [11]:
vec_num[2]
vec_num[1:4]
vec_num[c(1,3)]

[1] 2

[1] 1 2 3 5

[1] 1 3

# Matrix

In [25]:
vec1 = c(1:12)
vec1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [26]:
mat3x4 = matrix(data = vec1, nrow = 3, ncol = 4)
mat3x4

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [27]:
vec2 = c(1:15)
vec2

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [29]:
mat3x5 = matrix(data = vec2, nrow = 3, ncol = 5, byrow = TRUE)
mat3x5

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15

In [31]:
mat5x3 = matrix(data = vec2, nrow = 5, ncol = 3, byrow = TRUE)
mat5x3

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12
[5,] 13   14   15

In [32]:
#variable[row number, column number]
#Find numeric value for row number 3 and column number 2
mat3x5[3,2]

[1] 12

In [33]:
#print out the numeric values in row number 2
mat3x5[2,]

#print out the numeric value in position 2 for mat3x5
mat3x5[2]

[1]  6  7  8  9 10

[1] 6

In [38]:
mat3x5[1,][3] #select 1st row, follow by the 3rd position in the first row

mat3x5[7] #position number 7

[1] 3

[1] 3

In [39]:
#Adding column and row names
colnames(mat3x5) = c('c1','c2','c3','c4','c5')
rownames(mat3x5) = c('r1','r2','r3')

mat3x5

   c1 c2 c3 c4 c5
r1  1  2  3  4  5
r2  6  7  8  9 10
r3 11 12 13 14 15

In [42]:
mat3x5[c('r3'),c('c2','c4')]
#select row#3, follow by col#2 and col#4 for row#3

c2 c4
12 14

# Data Frame

In [43]:
df = data.frame(mat3x5)
df

   c1 c2 c3 c4 c5
r1  1  2  3  4  5
r2  6  7  8  9 10
r3 11 12 13 14 15